/* Header */

header {
  background-color: #0e0e10;
  position: sticky;
  top: 0;
  left: 0;
}

/* Footer */

footer {
  background-color: #0e0e10;
  padding: 30px 12px;
}

/* Mobile styles */

@media (max-width: 550px) {
  header {
    padding: 5px !important;
  }
  nav * {
    padding: 3px !important;
  }
}
