#profile-img {
  width: 40px;
  height: 40px;
  border-radius: 50%;
}
.event-row {
  display: flex;
  justify-content: center;
  width: 100%;
  border-radius: 10px;
}
.event-row > * {
  border: 1px solid #3b3b42;
  padding: 10px;
}
.event-row:hover {
  background-color: #0e0e10;
}
.event-row .event-name {
  flex: 1;
  overflow: hidden;
  display: -webkit-box;
  -webkit-box-orient: vertical;
  -webkit-line-clamp: 2;
}
.event-row .event-date {
  flex-basis: 82px;
}
.event-row .event-details {
  flex: 1;
  overflow: hidden;
  display: -webkit-box;
  -webkit-box-orient: vertical;
  -webkit-line-clamp: 2;
}
.event-row .event-actions {
  flex-basis: 40%;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  gap: 5px;
}
.event-row .event-actions a,
.event-row .event-actions button {
  padding: 1px 5px;
}
#create-event {
  align-self: center;
}
